:root {
  --primary: #172548;
  --primary-alt: #777777;
  --primary-font: #ffffff;
  --bright: #fd8904;
}

body,
#root,
.App {
  min-height: 100vh;
}
body i {
  font-family: "FontAwesome";
  font-style: normal;
}
.App {
  display: flex;
  flex-flow: column;
  
}
footer { margin-top: auto; }

.auth-image{
    max-width: 300px;
    max-height: 300px;
}
.project-image{
    max-width: 100%;
}
.port-images{
    max-width: 600px;
    max-height: 300px;
}
.navbar {
    background-color: var(--primary);
    color: var(--primary-font);
  }
.content-wrap{
    padding-top: 5%;
    padding-bottom: 5%;
}
.title ,.bio {
  color: var(--primary-font);
}
.project-image{
  padding-bottom: 5%;
}
.github-link{
  color: var(--primary);
}
.profile-link{
  color: var(--bright)
}
.bg-img{
background-image: url("../src/images/coding-website-background.jpg");
background-size: cover;
background-position: center bottom;
}
.footer{
  background-color: var(--primary);
  color: var(--primary-font);
  text-align: center;
}